<div class="d-block d-sm-none footer fixed-bottom container">
    <ul ngbNav class="nav-pills justify-content-center row">
        <li [ngbNavItem]="1" class="col">
            <a ngbNavLink class="text-center" data-toggle="tab" [routerLink]="['/dashboard']"><i
                    class="bi bi-bar-chart-fill"></i><br>Dashboard</a>
        </li>
        <li [ngbNavItem]="2" class="col">
            <a ngbNavLink class="text-center" data-toggle="tab" [routerLink]="['/budgets']"><i
                    class="bi bi-currency-dollar"></i><br>Budgets</a>
        </li>
    </ul>
</div>